# Системные файлы
.DS_Store
Thumbs.db

# Файлы Code::Blocks
*.layout
*.depend
*.layout.save
*.layout.*
*.depend.*
*.cbTemp

# Файлы компиляции
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.out

# Каталоги компиляции
bin/
obj/
build/

# Логи и временные
*.log
*.tmp

# CMake (если используешь)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Конфиги среды (например, CLion)
.idea/
.vscode/
